<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/sockjs.js"></script>
    <script src="/js/stomp.js"></script>
    <script src="/js/jquery-3.2.1.js"></script>
</head>
<body>
<p th:text="${test}">test</p>
<div>
    <div>
        <p id="receive"></p>
    </div>
</div>

<script>
    var noticeSocket = function () {
        var s = new SockJS('/socket');
        var stompClient = Stomp.over(s);
        stompClient.connect({}, function () {
            console.log('notice socket connected!');
            stompClient.subscribe('/topic/notice', function (data) {
                $('#receive').html(data.body);
            });
        });
    };

    noticeSocket();
</script>

</body>
</html>